# Add any directories, files, or patterns you don't want to be tracked by version control

#Ouput dir
/target/

#Intelli J
**/*.idea/
**/*.iml

#VS Code
.settings/
.vscode/
.classpath
.project

# Netbeans:
nbactions.xml

target/

# Eclipse:
.classpath
.project
.factorypath
.settings/
bin/
target/
/.classpath
/.factorypath
/.project
/.springBeans 
/.idea/
/target/
/jacoco.exec